body{
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 100vh;
    font-weight: 50px;
    font: 100pt;
    background-color: rgb(255, 248, 248);

}

    h1{
        text-align: center;
        margin-bottom: 50px;
        font-size: 50px;
        background-color: red;
        padding: 50px;
        text-shadow: rgb(94, 94, 94) 6px 6px 8px;
        color:white
    }

    hr{
        margin-left: 100px;
        margin-right: 100px;
        padding: 10px;
    }

    svg{
        margin-left: 100px;
        width: 10vw;
        height: 10vh;

    }

    p{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        margin-left: 100px;
        margin-right: 100px;
        padding: 10px;
    }

    h2{
        margin-left: 30px;
        margin-right: 30px;
        padding: 80px;
        
    }

    footer{
        text-align: center;
        margin-top: 30px;
        padding: 2%;
        font-weight: 10pt;
        background-color: grey;
        color: white;
    }