body{
    font-family:sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 100vh;
    font-weight: 500px;

}

    h1{
        text-align: center;
        font-size: 50px;
        margin-top: 30px;
        color:rgb(0, 0, 0)

    }

    p{
        text-align: center;
        margin-top: 20px;
        width: 100vw;
        height: 100vh;
    }